.form-section {
  min-height: 90vh;
  @include flex(center, center, column);
}

form {
  @include flex(center, center, column);
  box-shadow: 0px 0px 33px 2px #000000;
  width: 30%;

  input {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    width: 70%;
  }

  textarea {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    width: 70%;
  }

  button {
    cursor: pointer;
    width: 70%;
    margin-bottom: 2rem;
    padding: 2rem 0rem;
    background-color: #143d58;
    color: white;
  }
}
#form-name {
  margin-top: 2rem;
}
