$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";

header {
  min-height: 10vh;
  width: 60%;
  @include flex(center, center, row);
  flex-wrap: wrap;
  ul {
    flex: 1 1 20rem;
    @include flex(space-around, center, row);
  }
}

.header-fixer {
  width: 85%;
  margin: auto;

  .logo {
    flex: 1 1 40rem;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  ul {
    flex: 1 1 40rem;
  }
}

.logo {
  flex: 1 1 20rem;
  @include flex(center, center, row);
  flex-wrap: wrap;
  h1 {
    margin: 2rem;
  }
}

.active {
  background-color: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
@media screen and (max-width: 1200px) {
  header {
    width: 100%;
  }
  .splash {
    display: none;
  }
  .intro-text {
    text-align: center;
  }
  svg {
    display: block;
    margin: auto;
    width: 100%;
  }
  form {
    width: 50%;
  }
  .header-fixer {
    flex-wrap: wrap;
    .logo {
      flex: 1 1 60rem;
      text-align: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
    nav {
      flex: 1 1 60rem;
    }
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 45%;
  }
  header {
    ul {
      flex: 1 1 50rem;
    }
  }
  .logo {
    flex: 1 1 50rem;
    margin-top: 2rem;
  }
  .splash {
    display: none;
  }
  header {
    width: 100%;
    ul {
      margin-top: 2rem;
    }
  }
  svg {
    width: 100%;
    height: 70%;
  }
  .intro-text {
    text-align: center;
  }

  .travelly {
    flex: 1 1 50rem;
    img {
      width: 100%;
    }
  }
  .elena {
    flex: 1 1 50rem;
    img {
      width: 100%;
    }
  }
  form {
    width: 70%;
  }
  .header-fixer {
    .logo {
      text-align: center;
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #14e0cf #ffffff;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #14c1e0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
