* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  width: 95%;
  margin: auto;
}

.intro-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 5rem;
}

.intro-text h2 {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.intro-text h3 {
  font-size: 6rem;
  padding-top: 2rem;
}

.intro-text p {
  padding-top: 3rem;
}

.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.splash {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 100%;
  z-index: -2;
}

.intro-social img {
  margin: 1.5rem;
}

svg {
  width: 100%;
}

#plant-right {
  -webkit-animation: plant 1.6s infinite alternate ease-in-out;
          animation: plant 1.6s infinite alternate ease-in-out;
}

#plant-left {
  -webkit-animation: plant 1.6s 0.5s infinite alternate ease-in-out;
          animation: plant 1.6s 0.5s infinite alternate ease-in-out;
}

#me,
#Vector_9 {
  -webkit-animation: me 1.8s ease infinite alternate;
          animation: me 1.8s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 1.5s infinite linear;
          animation: clock 1.5s infinite linear;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

@-webkit-keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  to {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  to {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(365deg);
            transform: rotateZ(365deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(365deg);
            transform: rotateZ(365deg);
  }
}

header {
  min-height: 10vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo h1 {
  margin: 2rem;
}

.active {
  background-color: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

@media screen and (max-width: 1200px) {
  header {
    width: 100%;
  }
  .splash {
    display: none;
  }
  .intro-text {
    text-align: center;
  }
  svg {
    display: block;
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 45%;
  }
  header ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
  }
  .splash {
    display: none;
  }
  header {
    width: 100%;
    margin-top: 1rem;
  }
  header ul {
    margin-top: 3rem;
  }
  svg {
    width: 100%;
    height: 70%;
  }
  .intro-text {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */